@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Courier New", Consolas, monospace;
  background: #000;
  color: #fff;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #000; }
::-webkit-scrollbar-thumb { background: #333; }
